body{
	
	background-color: lightblue;
	
}

h1,h2,h3,h4,h5,h6{
    
    font-family: "Verdana",sans-serif;
    font-weight: bold;
    
}

pre{
    font-size: 15px;
    
}

p{
    font-family: "Georgia",serif;
}

#myHeader {
  background-color: lightblue;
  color: black;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  border: 5px solid black;
  font-size: 25px;
}

#myBikeHeader {
    background-color: lightblue;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    border: 5px solid black;
    font-size: 25px;
}
#BikeTypesHeader {
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    border: 5px solid black;
    font-size: 25px;
}

.panList {
    font-family: cursive;
}

#audio{
    position: relative;
    width: 70%;
    left: 15%;
    text-align: center
    
}

.leftList{
    position: absolute;
    
    
}

.rightList {
    position: absolute;
    left: 50%;
    
    
}

.panListHeader{
    text-align: center;
    
}

.BackLink{
    position: relative;
    bottom: 10%;
}

.BackLink2{
    position: absolute;
    bottom: 10%;
}

.pspic{
    width: 30%;
    right: 90%;
    
}


img{
    width: 40%;
}
